* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* border: 1px solid; */
}

/* Bagian CSS Header Awal */
header{
    height: 80px;
    background-color:grey;
    box-shadow: 0px 2px 25px rgba(0,0,0,0.4);
}

header img{
    width: 270px;
    float: left;
    padding: 11px 50px;
}

header h1{
    font-size: 25px;
    float: right;
    padding: 20px 50px;
    text-align: center;
    color:white;
}

/* Bagian CSS Header Akhir */

/* style galeri */
.galeri-h1{
    padding-top: 100px;
}
.gambar-1{
    width: 25%;
    padding-top: 50px;
    margin-left: 90px;
    
}

/* akhir style galeri */

/* Bagian Sosmed */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: grey;
    margin-top: 15cm;
    padding-top: 20px;
    box-shadow: 0px 2px 25px rgba(0,0,0,0.4);
}

.footer .sci {
    position: relative;
    display: flex;

}

.footer .sci li {
    list-style: none;
}

.footer .sci li a {
    text-decoration: none;
    margin: 0 10px;
}

.footer .sci li a img {
    max-width: 35px;
}

.copyrightText {
    margin-top: 10px;
    color: white;
    font-size: 18px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

.copyrightText a {
    color: white;
    text-decoration: none;
}
